body{
  background-color: #457390
}
h1{
  font-size: 400%
  letter-spacing: 3px;
  color: #FFFFFF;
  text-decoration: underline;
  text-decoration-color: #FFFFFF;
  position: center;
}
li {
  padding: 20px;
  color: #68C3D4;
  font: Open Sans;
  text-decoration: none;
  border-color: #ffffff;
  border-style: groove;
}
